@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,500;1,600&display=swap");
.container {
  margin: 10px 40px;
}
.main {
  display: flex;
  justify-content: space-around;
}

.main-picture-change {
  height: 100%;
}
.main-about {
  margin-top: 90px;
  margin-left: 120px;
  width: 500px;
  line-height: 55px;
}
.bigTitle {
  margin-top: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  color: #2637cd;
}
.title {
  margin-top: 70px;
  margin-bottom: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  color: #2637cd;
}

.desc {
  color: #171b1e;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  /* font-style: italic; */
  font-family: Montserrat;
  font-weight: 400;
  line-height: 27px;
}

.underTitle {
  font-weight: 700;
  font-style: italic;
  font-family: Montserrat;
  margin-top: 20px;
  line-height: 25px;
  color: #10161b;
  font-size: 20px;
  font-weight: 400;
}
button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 370px;
  height: 45px;
  background-color: rgb(255, 128, 0);
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 21px;
  text-align: center;
  align-items: center;
  box-shadow: 4px 4px 38px 11px rgba(206, 170, 32, 0.37);
}
button a {
  color: white;
  text-decoration: none;
}
button:hover {
  background-color: rgba(254, 152, 50, 0.904);
}
.social-app img {
  width: 37px;
  height: 37px;
  margin-top: 10px;
}
.contacts {
  width: 240px;
  display: flex;
  justify-content: space-between;
  margin-bottom: -50px;
}
.contacts-photo {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.friends-photo img {
  border-radius: 10px;
  width: 240px;
  height: 170px;
  box-sizing: border-box;
}
.developMan {
  margin: 40px 0px 20px 10px;
  color: #171b1e;
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
  font-family: Montserrat;
  font-weight: 400;
}
.developMan a {
  text-decoration: underline;
}
.adverst img {
  opacity: 0.7;
  box-sizing: border-box;
  width: 220px;
  position: fixed;
  right: 0px;
  top: 0;
  height: 140px;
}

.myPhoto {
  position: fixed;
  top: 130px;
  left: 120px;
  box-sizing: border-box;
  width: 560px;
  height: 630px;
  display: block;
}
.active {
  display: block;
}

@media only screen and (max-width: 1100px) {
  .main-picture-change img {
    display: none;
  }
  .adverst a img {
    box-sizing: border-box;
    width: 70px;
    position: fixed;
    right: 0px;
    top: 0;
    height: 40px;
  }
  .developMan {
    margin-top: 105px;
  }
  .main-about {
    margin-top: 90px;
    width: 500px;
    line-height: 55px;
  }
  .deletedPhotos {
    display: none;
  }
}
